/* ============================== General Styles =========================== */

:root {
  --side-margin: 18px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: #eee;
}

a {
  text-decoration: none;
  color: black;
}


/* ============================== Mobile Design =========================== */

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.header-logo {
  width: 106px;
  height: 48px;
  background-image: linear-gradient(-45deg , rgb(206, 87, 18) 20% , purple 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo img {
  height: 40%;
  width: 70%;
}

.black-white {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: calc(100% - 106px);
}

.black-header {
  background-color: black;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: #ddd;
  margin-bottom: 0;
  font-size: 13px;
  padding-left: 0;
  height: 33px;
}

.black-header-left {
  display: flex;
  justify-content: space-around;
}

.black-header-left ul {
  display: flex;
  list-style-type: none;
  padding-left: 18px;
}

.black-header-left ul li, .black-header-right ul li{
  margin-right: 7px;
}

.black-header-left-new {
  color: white;
  font-size: 15px;
}

.black-header-left-last {
  margin-right: 0;
}

.black-header-right {
  display: flex;
  justify-content: space-around;
  margin-right: 18px;
}

.black-header-right ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.white-header {
  display: flex;
  background-color: white;
  color: #aaa;
  margin-top: 0;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.white-header-left {
  visibility: hidden;
  height: 100%;
  display: flex;
  align-items: center;
}

.white-header-left ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  padding-left: 20px;
}

.white-header-left ul li{
  margin-right: 7px;
}

.white-header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 48px;
  border-left: 1px solid #eee;
}

.reorder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 48px;
  border-left: 1px solid #eee;
  color: coral;
}

/* ************************** Title section ***************************** */


.titles {
  display: grid;
  grid-template-columns: 1fr;
  height: 500px;
  grid-gap: 8px;
  padding: 8px;
}

.title1 {
  background-color: black;
  
}

.title2 {
  background: rgba(0,0,0,.25);
}

.title3 {
  background-color: green;
}

.lower-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  color: #fff;
}

.lower-left h2 {
 font-size: 1em;
 margin: 0;
}

.lower-left h1 {
  font-size: 1.2em;
  margin: 0;
}

.lower-left p {
  font-size: 0.7em;
  margin: 0;
}

.title-logo-div {
  display: none;
}

/* ************************** Latest news section ***************************** */

.section-heading {
  color: #f42;
  font-weight: 700;
  font-size: 1.5em;
  margin-left: var(--side-margin);
}

.section-heading:hover {
  color: black;
}

.section-heading img{
  width: 20px;
  height: 20px;
  margin-bottom: -3.8px;
}


.latest-news {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

.latest-news-div {
  display: flex;
  justify-content: space-between;
}

.latest-news-image {
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
}

.latest-news-text {
  width: calc(100% - 85px);
  font-size: 0.8em;
}

.latest-news-div1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/kodak-480x270.jpg");
}

.latest-news-div2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/CES-2021-516x270.jpg");
}

.latest-news-div3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/tencent-480x270.jpg");
}

.latest-news-div4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/acquisition-blog-post-thisstartupannouncementdoesntexist-519x270.png");
}

.latest-news-div5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/woman-drinking-coffee-while-working-with-laptop-4050289-540x270.jpg");
}

.latest-news-div6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-512x270.jpg");
}

.latest-news-div7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/1-9-516x270.jpg");
}

.latest-news-div8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/07/header-image-photoshops-ipad-app-refine-edge-rotate-canvas-516x270.png");
}

/* ************************** Latest funding section ***************************** */

.latest-funding-header {
  display: flex;
  flex-direction: column;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

.latest-funding-header .section-heading {
  margin-left: 0;
}

.latest-funding-options {
  display: flex;
  flex-direction: column;
}

.latest-funding-options a {
  color: #f42;
  margin-bottom: 12px;
  font-size: 12px;
}

.funding-div {
  background-color: rgb(231, 218, 216);
  padding-bottom: 10px;
}

.funding-div-head {
  background-color: rgb(241, 190, 182);
  position: relative;
  padding-bottom: 7px;
}

.funding-div-title {
  background-color: #f42;
  color: white;
  padding-left: 85px;
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.funding-enterprise-logo {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.funding-budget {
  margin-left: 85px;
  margin-top: 10px;
  margin-bottom: 0;
}

.funding-type {
  margin-left: 85px;
  margin-top: 0;
  color: #555;
  font-size: 12px;
  text-transform: uppercase;
}

.funding-last {
  display: none;
}

.funding-info {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 200;
  color: #555;
}

.funding-info .fa {
  color: black;
  font-size: 15px;
  margin-right: 6px;
}

.funding-div hr {
  border-top: 1px solid rgb(241, 190, 182);;
  border-bottom: none;
}

.funding-platform {
  color: #aaa;
}

/* ************************** Articles section ***************************** */

.articles-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 50px var(--side-margin) 0 var(--side-margin);
}

.article-header .section-heading {
  margin-left: 0;
}

.article-picture {
  height: 70vw;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
}

.picture1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/bitcoin_today-header_bitcoin_today-512x270.jpg");
}

.article-middle {
  background-color: rgb(231, 218, 216);
  overflow: hidden;
  padding-left: 20px;
  color: red;
}

.article-middle img {
  width: 150px;
  height: 130px;
  float: right;
  margin-top: 3px;
}

.article-bottom div {
  border-bottom: 1px #aaa solid;
}

.article-bottom ul {
  padding-left: 20px;
  list-style: none;
  color: #777;
}

.article-bottom li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}


/* ============================== First Break Point =========================== */

@media screen and (min-width: 768px) {
  .black-header {
    display: flex;
  }
  
  .white-header-left {
    visibility: visible;
  }
  
  .header-logo {
    width: 106px;
    height: 80px;
    background-color : yellowgreen;
  }

  .reorder-container {
    display: none;
  }

  .titles {
    grid-template: 1fr 1fr / 2fr 1fr
  }

  .title1 {
    grid-area: 1 / 1 / 3 / 2;
  }
   
   .lower-left h1 {
     font-size: 1.4em;
   }
   .title1 .lower-left h1 {
    font-size: 2.5em;
  }

  .latest-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .latest-news-div {
    flex-direction: column;
  }
  
  .latest-news-image {
    width: 100%;
    height: 15vw;
  }
  
  .latest-news-text {
    width: 100%;
    font-size: 1em;
  }
  
  .latest-funding-options {
    display: flex;
    flex-direction: row;
  }

  .latest-funding-options a {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .funding-option-center {
    padding-left:  12px;
    padding-right: 12px;
    margin-left:   12px;
    margin-right:  12px;
    border-left: 1px solid #f42;
    border-right: 1px solid #f42;
  }

  .articles-section {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .article-picture {
    height: 40vw;
    padding: 20px;
  }
}


/* ============================== Second Break Point =========================== */

@media screen and (min-width: 1024px) {
  .header-logo {
    display: none;
  }

  .black-white {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .title1 {
    background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-logo-div {
    display: block;
    margin-bottom: auto;
  }
  .title-logo-div img {
    width: 50%;
  }
  
  .title-logo-div p {
    float: right;
    font-size: 1em;
  }

  .latest-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .latest-funding-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .latest-funding-options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .funding-option-center {
    padding-left:  12px;
    padding-right: 12px;
    margin-left:   12px;
    margin-right:  12px;
    border-left: 1px solid #f42;
    border-right: 1px solid #f42;
  }

  .latest-funding-options a {
    margin-bottom: 0;
  }

  .funding-last {
    display: block;
  }

  .articles-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .article-picture {
    height: 25vw;
    padding: 20px;
  }
}